@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

:root {
  --font-size-12: 0.8rem;
  --font-size-14: 0.9333rem;
  --base-font-size: 15px;
  --font-size-16: 1.067rem;
  --font-size-18: 1.2rem;
  --font-size-20: 1.333rem;
  --line-height: 1.2;

  --background-color: #000; /* #f9fafd */
  --dark-background-color: rgb(23, 22, 54);
  --foreground-color: #141414;
  --border-color: #373737;
  --card-background: #fff;
  --text-color: #ddd
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--base-font-size);
  background-color: var(--background-color);
  color: var(--text-color);
}

p {
  line-height: var(--line-height);
  margin: 0 0 5px;
  white-space: pre-line;
}

label {
  display: flex;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: var(--base-font-size);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: var(--text-color);
  font-weight: 500;
}

/* minimal layout in flex */
.layout-row {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.layout-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex {
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-initial {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto
}
.flex-25 {
  display: flex;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%
}
.layout-row .flex-25 {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.flex-50 {
  display: flex;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%
}
.layout-row .flex-50 {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  max-height: 100%
}
.flex-75 {
  display: flex;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%
}
.flex-100 {
  display: flex;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}
.width100 {
  width: 100%;
}
.layout-row .flex-100 {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  max-height: 100%;
}
.layout-row .flex-33 {
  -webkit-flex: 0 0 33.333%;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  max-width: 33.333%;
  max-height: 100%
}
.layout-row .flex-66 {
  -webkit-flex: 0 0 66.666%;
  -ms-flex: 0 0 66.666%;
  flex: 0 0 66.666%;
  max-width: 66.666%;
  max-height: 100%
}
.layout-align-center, .layout-align-center-center, .layout-align-center-end, .layout-align-center-start  {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.layout-align-end, .layout-align-end-center, .layout-align-end-end, .layout-align-end-start {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end
}
.layout-align-space-around, .layout-align-space-around-center, .layout-align-space-around-end, .layout-align-space-around-start {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around
}
.layout-align-space-between, .layout-align-space-between-center, .layout-align-space-between-end, .layout-align-space-between-start {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.layout-align-center-start, .layout-align-end-start, .layout-align-space-around-start, .layout-align-space-between-start, .layout-align-start-start {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}
.layout-align-center-center, .layout-align-end-center, .layout-align-space-around-center, .layout-align-space-between-center, .layout-align-start-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
}
.layout-align-center-end, .layout-align-end-end, .layout-align-space-around-end, .layout-align-space-between-end, .layout-align-start-end {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}
.layout-align-start, .layout-align-start-center, .layout-align-start-end, .layout-align-start-start {
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
}
/* minimal layout in flex */

.font12 {
  font-size: var(--font-size-12);
}

.font14 {
  font-size: var(--font-size-14);
}

.font16 {
  font-size: var(--font-size-16);
}

.font18 {
  font-size: var(--font-size-18);
}

.font20 {
  font-size: var(--font-size-20);
}

.padd-10 {
  padding: 10px;
}

.padd15 {
  padding: 15px;
}

.padd-10px {
  padding: 10px 0;
}

.side-padd-5px {
  padding: 0 5px;
}

.side-padd-15px {
  padding: 0 15px;
}

.side-margin-5px {
  margin: 0 5px;
}


.margin-bottom-10px {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.margin-5 {
  margin: 5px;
}

.ReactCollapse--collapse {
  width: 100%;
  transition: height 300ms;
  -webkit-transition: height 300ms;
  -moz-transition: height 300ms;
  -o-transition: height 300ms;
}

.ReactCollapse--content {
  width: 100%;
  overflow-y: auto;
  max-height: 500px;
}

.card-container, .ReactCollapse--content {
  background-color: var(--foreground-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.card-container {
  margin-bottom: 15px;
}

.react-json-view {
  overflow-y: auto;
  max-height: 200px;
}

.react-json-view, .jsonStringContainer {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  background: #141414;
  margin: 10px 0;
  border-radius: 5px;
}
.jsonStringContainer {
  overflow-y:auto;
  max-height: 300px;
}


/* ant dark design */
.ant-btn-dashed, .ant-btn-default {
  color: var(--text-color);
  border-color: #4b4b4b;
  background: var(--foreground-color);
  border-style: dashed;
}
.ant-btn-dashed:focus, .ant-btn-dashed:hover , .ant-btn-default:focus , .ant-btn-default:hover {
  color: var(--text-color);
  border-color: #4b4b4b;
  background: #262626;
}


.card-container, .ReactCollapse--content {
  background-color: var(--foreground-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
.ant-modal, .ant-modal-title {
  color: var(--text-color)
}
.ant-modal-content, .ant-modal-header {
  background-color: var(--foreground-color);
  color: var(--text-color);
}
.ant-modal-header {
  border-bottom: 1px solid var(--border-color);
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}
.ant-modal-content {
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
